[Unit]
Description=Check lid status when system started
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/etc/acpi/lid.sh

[Install]
WantedBy=multi-user.target
